<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Account.Shared.MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Account.Shared.MainLayout)">
                <p class="text-danger m-4">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
